* {
    font-family: "맑은 고딕";
}

.user_detail {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.user_detail_component{
    display: flex;
    position: relative;

    flex-direction: column;

    align-items: center;

    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
}

.user_detail_component>h1{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 4px solid #c1c1c1;
}

.user_detail_component>h2{
    padding-bottom: 10px;
    border-bottom: 2px solid #c1c1c1;
    margin-bottom: 5px;
}