<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tukorea.free.mapper.LanguageMapper">

    <select id="selectById"
            resultType="org.tukorea.free.domain.LanguageVO">

	<![CDATA[
        select * from language_free where language = #{language}
        ]]>
	</select>

    <select id="selectAll"
            resultType="org.tukorea.free.domain.LanguageVO">

	<![CDATA[
        select * from language_free
        ]]>
	</select>

</mapper>